{% include "header.html" %}
    {% if messages %}
  <!-- <ul class="messages"> -->
    {% for message in messages %}
      <!-- <li class="{{ message.tags }}">{{ message }}</li> -->
      <script>alert('{{message}}')</script>
    {% endfor %}
  </ul>
{% endif %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <form method="POST" action="take">
                          {% csrf_token%}
  <div class="form-group">
    <label for="exampleFormControlSelect1">Faculty</label>
    <select class="form-control" name="faculty" id="exampleFormControlSelect1">
     <!--  {% csrf_token %}
      {% for faculty in faculty %}   -->          
          <option value="{{faculty.fname}}">{{faculty.fname}}</option>
      <!-- {% endfor %} -->
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Batch</label>
    <select class="form-control" name="batch" placeholder="Select batch" id="exampleFormControlSelect2">
      <option value="2068">2068</option>
      <option value="2069">2069</option>
      <option value="2070">2070</option>
      <option value="2071">2071</option>
      <option value="2072">2072</option>
      <option value="2073">2073</option>
      <option value="2074">2074</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Take Attendance</button></a>  
</form>
                   
  
                    </div>
                    <div class="col-md-6">
                        <form method="POST" action="view">
                          {% csrf_token%}
  <div class="form-group">
    <label for="exampleFormControlSelect1">Faculty</label>
    <select class="form-control" name="faculty" id="exampleFormControlSelect1">
     <!--  {% csrf_token %}
      {% for faculty in faculty %}   -->          
          <option value="{{faculty.fname}}">{{faculty.fname}}</option>
      <!-- {% endfor %} -->
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Batch</label>
    <select class="form-control" name="batch" placeholder="Select batch" id="exampleFormControlSelect2">
      <option value="2068">2068</option>
      <option value="2069">2069</option>
      <option value="2070">2070</option>
      <option value="2071">2071</option>
      <option value="2072">2072</option>
      <option value="2073">2073</option>
      <option value="2074">2074</option>
    </select>
  </div>
  <div class="form-group">
  <label for="exampleFormControlSelect2">Semester</label>
    <select class="form-control" name="semester" placeholder="Select semester" id="exampleFormControlSelect2">
      <option value="First">First</option>
      <option value="Second">Second</option>
      <option value="Third">Third</option>
      <option value="Fourth">Fourth</option>
      <option value="Fifth">Fifth</option>
      <option value="Sixth">Sixth</option>
      <option value="Seventh">Seventh</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">View Attendance</button>   
</form>
                   
  
                    </div>
                </div>
            </div>
        </div>

{% include "footer.html" %}
