{% include "header_std.html" %}
<form method="post" action="../attendance/attendance_std">
  {% csrf_token %}
<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                       
    <div class="form-group">
    <label for="exampleFormControlSelect2">Semester</label>
    <select class="form-control" placeholder="Select batch" name="sem" id="exampleFormControlSelect2">
      <option value="{{sem}}">{{sem}}</option>
      <option value="First">First</option>
      <option value="Second">Second</option>
      <option value="Third">Third</option>
      <option value="Fourth">Fourth</option>
      <option value="Fifth">Fifth</option>
      <option value="Sixth">Sixth</option>
      <option value="Seventh">Seventh</option>
    </select>
  </div>
  <input type="submit" value="view">
</form>



<div id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values

function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Present days',{{attendance.present_days}}],
  ['Absent days', {{attendance.absent_days}}],
]);


  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Attendance', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}

</script>

</body>
</html>
