{% include "header.html" %}

<body>
	<form method="POST" class="post-form" action="/teacher/updatet/{{teacher.id}}">
		{% csrf_token %}
		<div class="container">
			<br>
			<div class="form-group row">
				<!-- <label class="col-sm-1 col-form-label"></label> -->
				<div class="col-sm-4">
					<h3>Update Details</h3>
				</div>
			</div>
			<input type="hidden" name="id" value="{{teacher.id}}">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Teacher Id:</label>
				<div class="col-sm-4">
					<input type="text" name="tid" id="id_tid" required maxlength="20" value="{{teacher.tid}}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Teacher Name:</label>
				<div class="col-sm-4">
					<input type="text" name="tname" id="id_tname" required maxlength="100" value="{{teacher.tname}}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Teacher Address:</label>
				<div class="col-sm-4">
					<input type="text" name="taddress" id="id_taddress" required maxlength="100"
						value="{{teacher.taddress}}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Teacher Contact:</label>
				<div class="col-sm-4">
					<input type="text" name="tcontact" id="id_tcontact" required maxlength="10"
						value="{{teacher.tcontact}}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Teacher Email:</label>
				<div class="col-sm-4">
					<input type="text" name="temail" id="id_temail" required maxlength="100"
						value="{{teacher.temail}}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Teacher Faculty:</label>
				<div class="col-sm-4">
					<input type="text" name="tfaculty" id="id_tfaculty" required maxlength="100"
						value="{{teacher.tfaculty_id}}" />
				</div>

			</div>
			<input type="hidden" name="tpassword" value="{{teacher.tpassword}}">

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Teacher Position:</label>
				<div class="col-sm-4">
					<input type="text" name="tposition" id="id_tposition" required maxlength="100"
						value="{{teacher.tposition}}" />
				</div>
			</div>
			<button class="btn btn-success ">Update<a href="" class="nav-link"></a></button>
		</div>
		

	</form>
</body>

</html>