{%include "header.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="utf-8">
      <title>Index</title>
      {% load staticfiles %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title></title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
      <div id='form_block'>
            <form method="POST" class="post-form" action="/teacher/teacher">
                  {% csrf_token %}
                  <div class="flex-container">
                        <div class="form flex-item ">
                              <form method="POST" class="post-form" action="">
                                    {% csrf_token %}
                                    <div class="student">
                                          Teacher Details</div><br>
                                    <br>
                                    Teacher ID:<br>

                                    {{ form.tid }}
                                    <br>
                                    Teacher Name:<br>

                                    {{ form.tname }}
                                    <br>
                                    Address:<br>
                                    {{ form.taddress }}
                                    <br>
                                    Contact:<br>
                                    {{ form.tcontact }}
                                    <br>

                                    Email:<br>
                                    {{ form.temail }}
                                    <br>
                                    Faculty:<br>
                                    {{ form.tfaculty }}
                                    <br>
                                    Position:<br>
                                    {{ form.tposition }}
                                    <br><br>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                        </div>
</body>

</html>