<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Index</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styl.css' %}">
</head>

<body>
    <form method="POST" class="post-form" action="../update/{{notes.id}}">
        <!-- <form method="POST" class="post-form" action=""> -->
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Update Details</h3>
                </div>
            </div>
       
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Document:</label>
                <div class="col-sm-4">
                    <input type="text" name="ndocument" id="id_ndocument" required maxlength="100"
                        value="{{notes.ndocument}}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Teacher Id:</label>
                <div class="col-sm-4">
                    <input type="text" name="ntid" id="id_ntid" required maxlength="100" value="{{notes.ntid}}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Faculty:</label>
                <div class="col-sm-4">
                    <input type="text" name="nfaculty" id="id_nfaculty" required maxlength="10"
                        value="{{notes.nfaculty}}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Batch:</label>
                <div class="col-sm-4">
                    <input type="text" name="nbatch" id="id_nbatch" required maxlength="100" value="{{notes.nbatch}}" />
                </div>
            </div>
            <button type="submit">Update</button>

    </form>
</body>

</html>