{% include "header_std.html" %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                 <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Uploaded By</th>
                          <th scope="col">Uploaded At</th>
                          <th scope="col">Notes</th>
                          <th scope="col">Faculty</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for notes in notes %}
                        <tr>
                          <th>{{notes.ntid }}</th>
                          <th>{{notes.uploaded_at}}</th>
                          <th>{{notes.ndocument}}</th>
                          <th>{{notes.nfaculty}}</th>
                          <td>
                              <a href="../../assignment/pdf_download/{{ notes.ndocument }}" TARGET = "_blank">Download</a>
                              <a href="../assignment/file_view/{{ notes.ndocument }}" TARGET = "_blank">View</a>
                      </td>

                          
                          <th></th>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                </div>
            </div>
        </div>
{% include "footer_std.html" %}       