{% include "header_std.html" %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                         
                           <div class="header">

                                <h4 class="title">Holiday</h4>
                                {%for n in notice%}
                                <p class="category">
                        
                                  {% if n.ntype == 'Holiday' %}
                                 <b> {{n.ntitle}}</b><br>
                                {{n.nnotice}}</p>
                                 {% endif %}
                            {%endfor%}
                            </div>
                           
                            <div class="header">
                                <h4 class="title">Meeting</h4>
                                {%for n in notice%}
                                <p class="category">
                        
                                  {% if n.ntype == 'Meeting' %}
                                 <b> {{n.ntitle}}</b><br>
                                {{n.nnotice}}</p>
                                 {% endif %}
                            {%endfor%}
                            </div>
                             <div class="header">
                                <h4 class="title">Events</h4>
                                {%for n in notice%}
                                <p class="category">
                        
                                  {% if n.ntype == 'Events' %}
                                 <b> {{n.ntitle}}</b><br>
                                {{n.nnotice}}</p>
                                 {% endif %}
                            {%endfor%}
                            </div>

                             <div class="header">
                                <h4 class="title">Others</h4>
                                {%for n in notice%}
                                <p class="category">
                        
                                  {% if n.ntype == 'Others' %}
                                 <b> {{n.ntitle}}</b><br>
                                {{n.nnotice}}</p>
                                 {% endif %}
                            {%endfor%}
                            </div>
                        <!-- </div>  -->
                </div>
            </div>
        


                    <div class="col-md-6">
                        <div class="card ">
                         
                            <div class="header">

                                {% for r in routine %}
                                <h5>{{r.rtitle}}</h5><br>
                                <img src="../media/{{r.routine}}" height="500" width="480"><br>
                                {% endfor %}
                            
                            </div>
                        </div> 
                </div>
            
                {% include "footer_std.html" %}