{%include "header.html"%}
<body>
  <div class="flex-container">
    <div class="form flex-item ">
      <form method="POST" class="post-form" action="">
        {% csrf_token %}
        <div class="student">
          Student Details</div><br>
        Roll no:<br>
        {{ form.sid }}
        <br>
        Name:<br>
        {{ form.sname }}
        <br>
        Address:<br>
        {{ form.saddress }}
        <br>
        Contact:<br>
        {{ form.scontact }}
        <br>
        Faculty:<br>
        {{ form.sfaculty }}
        <br>
        Batch:<br>
        {{ form.sbatch }}
        <br>
        Email:<br>
        {{ form.semail }}
        <br>
        Password:<br>
        {{ form.spassword }}
        <br>
        <br>
        <button class="btn btn-success">Submit<a href="" class="nav-link"></a></button>


      </form>
    </div>
  </div>

</body>