{%include "header.html"%}
 <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <div class="form-group"> -->
                           <a href="{%url "marks:marks" %}"><button class="btn btn-primary">Back</button></a>
    <form action="/marks/upload_csv" method="POST" enctype="multipart/form-data" class="form-horizontal"><br>
{% csrf_token %}
                            <label for="name">CSV File: </label>
                            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control"><br>
                        <input type="submit" name="upload" value="Upload">
                    </div> 
                </div>
            </div>
        </div>

    {% if messages %}
<ul>
   {% for message in messages %}
	   <li>{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}
</div>
</form>
</body>
</html>